.container {
  color: black !important;
}

.linkwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 2px;
}

.pokemon-card {
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}

.card {
  border: 1px solid black;
  color: blue
}

button {
  background-color: rgb(216, 85, 172);
  color: white;
  border-radius: 5px;
  margin-top: 18px;
}
